# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments & Virtualenvs
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook & Checkpoints
.ipynb_checkpoints

# Logs & Outputs
*.log
scratch/
outputs/
*.index

# OS & IDE
.DS_Store
.vscode/
.idea/
